<h1>Search for shows</h1>


<div class="row">
  <div class="col no-flex">
    <h2>Show 1</h2>

    <form id="show_1">
      <input tabindex="1" autofocus type="text" id="show_1_name" placeholder="Title 1..." />
      <button id="show_1_search">Search</button>
    </form>

    <div id="results_1"></div>
  </div>
  <div class="col no-flex">
    <h2>Show 2</h2>

    <form id="show_2">
      <input tabindex="2" type="text" id="show_2_name" placeholder="Title 2..." />
      <button id="show_2_search">Search</button>
    </form>

    <div id="results_2"></div>
  </div>
</div>

<div class="row">
  <button id="go" disabled>Go</button>
</div>

<%= javascript 'selection' %>
