<!DOCTYPE html>
<html>
  <head>
    <title>Overact</title>
    <%= favicon %>
    <%= stylesheet 'selection', 'compare' %>
    <%= javascript 'lazy' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
