<!DOCTYPE html>
<html>
  <head>
    <title>Overact</title>
    <%= favicon %>
    <%= stylesheet 'selection', 'compare' %>
    <%= javascript 'lazy' %>
  </head>
  <body>
    <%= yield %>
    <div class="row">
      <p>Built with <3 by Pawel J. Wal</p>
    </div>
  </body>
</html>
