img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0;
}

.character-name {
  align-items: flex-end;
  margin-bottom: 5px;
}

.actor-name {
  align-items: flex-end;
  margin-bottom: 5px;
}

.direction-column {
  flex-direction: column;
}

.cast-row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 30px !important;
}

img.lazy {
  width: 1px;
  height: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.image-container {
  width: 150px;
  height: 150px;
  margin-bottom: -15px;
}

.movie-header {
  position: sticky;
  top: 0px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: none !important;
}

p.prelude, p.summary {
  font-size: 80%;
  color: #444;
  text-align: center;
  width: 100%;
  padding: 2px 0;
  margin: 5px 0 3px 0;
}

p.prelude {
  margin-top: 20px;
}

p.summary {
  margin-bottom: 20px;
}

h1.comparison {
  text-align: center;
  margin: 0 auto;
}

h1.comparison span.joiner {
  font-size: 60%;
  color: #444;
  display: block;
}

.movie-role {
  color: #666;
  display: block;
}

@media screen and (min-width: 768px) {
  h1.comparison span.joiner {
    display: inline;
  }

  .movie-header {
    display: flex !important;
  }

  .movie-role {
    display: none;
  }

  .actor-name {
    margin-bottom: 0px;
  }
}
