#results_1 ul li, #results_2 ul li {
  list-style: none;
  margin-left: -40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

#results_1 ul li h3, #results_2 ul li h3 {
  margin: 0 0 5px 0;
}

#results_1 ul li p, #results_2 ul li p {
  margin: 0;
}

#results_1 ul li.active, #results_2 ul li.active {
  border: 1px solid green;
}

button#go {
  background: green;
  display: block;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button#go:disabled {
  color: gray;
  background: #ccc;
  cursor: not-allowed;
}
