#results_1 ul li, #results_2 ul li {
  list-style: none;
  margin-left: -40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

#show_1, #show_2 {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #show_1, #show_2 {
    width: 100%;
  }
}

#show_1 input, #show_2 input {
  flex: 2;
}

#show_1 button, #show_2 button {
  flex: 1;
}

#results_1 ul li h3, #results_2 ul li h3 {
  margin: 0 0 5px 0;
}

#results_1 ul li p, #results_2 ul li p {
  margin: 0;
}

#results_1 ul li.active, #results_2 ul li.active {
  border: 1px solid green;
}

button#go {
  background: #3D9970;
  display: block;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: none;
}

button#go:disabled {
  color: #ddd;
  background: #aaaaaa;
  cursor: not-allowed;
}
