.row.cast-row
  .col-3.direction-column.actor-slot
    .image-container
      %img.lazy{src: 'https://via.placeholder.com/150', data: { src: URI.unescape(row.actor.image_url_with_fallback) }}
      %noscript
        %img{src: row.actor.image_url_with_fallback}
    %br
    %h3.actor-name
      = link_to row.actor.name, row.actor.imdb_url
  .col-3.character_name
    %strong= row.role1.character_name
  .col-3.character_name
    %strong= row.role2.character_name
